if [ -d .venv ]; then
  source .venv/bin/activate
  uv sync
else
  uv venv --python 3.13
  source .venv/bin/activate
fi

echo Setting git hooksPath to .githooks
chmod +x .githooks/pre-push
git config core.hooksPath .githooks
